:root {
  --title-font: "Montserrat", sans-serif;
  --paragraph-font: "Merriweather", serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  background-color: red;
}
html {
  font-size: 62.5%;
}
